---
layout: default
---

<section class='content-wrap flex-c'><div class='container row-x1 flex-sb'>
<div class="main-wrap">
<div class="blog-posts index-post-wrap list-items">
{% for post in paginator.posts %}
<article class="post hentry item-{{ forloop.index }}">
  {% if post.img %}
    <a class="entry-thumbnail" href="{{ post.url | prepend: site.baseurl }}">
      <span class='thumbnail pbt-lazy' style="background-image: url('{{ "/img/" | prepend: site.baseurl | append: post.img }}')"></span>
    </a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{ post.date | date: '%Y, %b %d' }}</span>
    <span class="post-words">
      {% capture words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% unless words contains "-" %}
        {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
      {% endunless %}
    </span>
  </div>
</article>

{% endfor %}
</div></div>
<div class="col-md-4"><!-- sidebar content -->{% include popular_articles.html %}</div>
</div></section>
{% include pagination.html %}
