---
layout: default
---
<div class="jumbotron hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <object data="/img/nunit_logo.svg" type="image/svg+xml" height="128" aria-label="nunit logotype">
          <img src="/img/nunit_logo_128.png" alt="nunit logotype" />
        </object>
      </div>
      <div class="col-sm-6 text-right">
        <a class="btn btn-danger btn-lg" href="/download/" role="button">Download <i class="fa fa-download"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="content">
        <div class="row">

{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

        </div>
    </div>
</div>
