<header class='site-header'>
    <div class="main-header">
    <div class="header-inner">
        <div class='header-header flex-c'>
            <div class='container row-x1'>
              <div class='header-items'><div class='flex-left'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" aria-label="logotype">
            <div class="navbar-brand grow">
                <img src="/img/pottoin.png" width="40" alt="nunit logotype" />
            </div>
        </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/news/"><i class="fas fa-comment-dots"></i> News</a></li>
            <li><a href="/download/"><i class="fas fa-download"></i> Download</a></li>
            <li><a href="/" target="_blank"><i class="fas fa-book"></i> Documentation</a></li>
            <li><a href="/contact/"><i class="fas fa-envelope"></i> Contact</a></li>
            <li><a href="https://twitter.com/nunit" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="/" target="_blank"><i class="fab fa-slack"></i> Slack</a></li>
            <li><a href="/" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        </ul></div>
    </div><!--/.nav-collapse -->
    </div></div></div></div>
</header>
